<li>
	{{name}}

	<button class="change-burger" data-id="{{id}}" data-devoured="{{true}}">
		{{#if devoured}}DEVOURED!{{else}} DEVOUR?{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>